
.cardContainer[data-v-f9ccf870] {
  padding: 48px 40px 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardHeader[data-v-f9ccf870] {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wordContainer[data-v-f9ccf870] {
  margin: auto -40px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}
.signinWord[data-v-f9ccf870] {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding-top: 16px;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  padding-bottom: 0;
  line-height: 1.3333;
}
.myWord[data-v-f9ccf870] {
  padding-bottom: 1px;
  padding-top: 7px;
  color: #202124;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 1.5;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}
.cardBody[data-v-f9ccf870] {
  margin: auto -40px;
  padding-top: 24px;
  width: 100%;
  font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
  font-size: 14px;
  color: darkgray;
}
.box-card[data-v-f9ccf870] {
  width: 450px;
  min-height: 500px;
  border: 1px solid #dadce0;
  border-radius: 8px;
  --el-card-border-radius: 0px;
  --el-card-border-color: transparant;
}
.el-card[data-v-f9ccf870] .el-card__body {
  padding: 0;
}
.el-input[data-v-f9ccf870] {
  font-size: 16px;
  height: 50px;
}
.router-link-active[data-v-f9ccf870] {
  font-size: 14px;
  font-weight: 500;
  color: #1a73e8;
  text-decoration: none;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}
a[data-v-f9ccf870] {
  font-size: 14px;
  font-weight: 500;
  color: #1a73e8;
  text-decoration: none;
  font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}
.footer[data-v-f9ccf870] {
  width: 450px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.el-select[data-v-f9ccf870] {
  --el-select-border-color-hover: white;
  --el-select-close-hover-color: white;
  --el-select-disabled-border: white;
  --el-select-input-color: black;
}

